@import './globals.css';
@import './themes.css';

body {
  padding: 0 1rem;
  background-color: var(--color-background);
}

.container {
  max-inline-size: 30rem;

  margin: auto;
  border-radius: 6px;
}

@media (width > 30rem) {
  .container {
    max-inline-size: 48rem;
  }
}

@media (width > 48rem) {
  .container {
    max-inline-size: 80rem;
  }
}
