@import './global.css';
@import './themes.css';

body {
  padding: 1rem;
  background-color: var(--color-background);
}

.container {
  max-inline-size: 30rem;

  margin: auto;
  border-radius: 6px;

  background-color: var(--color-surface);
}

@media (width > 30rem) {
  .container {
    max-inline-size: 48rem;
  }
}
