footer {
  max-inline-size: 100%;

  /* border-top: solid 1px var(--color-hover); */
  padding: 1.5rem 0 0.75rem;

  font-size: calc(0.8rem + 0.2vw);

  text-align: center;
}

@media (width > 48rem) {
  footer {
    text-align: end;
  }
}
