@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --font-text: 'Rubik';
  --font-cursive: 'Indie Flower', cursive;
  --font-bebasNeue: 'Bebas Neue' 400 normal;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  color: var(--color-text);
  font-family: var(--font-text);
}
