.home {
  display: flex;
  flex-flow: column nowrap;
}

main {
  inline-size: 100%;

  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;

  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  border-radius: 6px;
}
