@keyframes writerPosition {
  0% {
    opacity: 0;
    /* background-color: var(--color-surface); */
  }
  1% {
    opacity: 1;
    /* background-color: var(--color-text); */
  }
  51% {
    opacity: 1;
    /* background-color: var(--color-text); */
  }
  52% {
    opacity: 0;
    /* background-color: var(--color-surface); */
  }
  99% {
    opacity: 0;
    /* background-color: var(--color-surface); */
  }
  to {
    opacity: 0;
    /* background-color: var(--color-surface); */
  }
}

.profileBanner {
  max-inline-size: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & img {
    max-inline-size: 15rem;
    max-block-size: auto;

    border-radius: 50%;

    object-fit: cover;
    object-position: center center;
  }

  & .description {
    max-inline-size: 100%;

    display: flex;
    flex-flow: column nowrap;
    gap: 0.8rem;

    & h2 {
      display: inline;
      font-size: calc(1.8rem + 0.2vw);
      font-family: var(--font-cursive);
      text-align: center;

      & span {
        margin-inline-start: -0.5rem;
        animation: writerPosition 1300ms linear 0s infinite normal;
      }
    }
  }

  & p {
    font-size: calc(1rem + 0.2vw);
    line-height: calc(1.5rem + 0.2vw);
  }
}

@media (width > 48rem) {
  .profileBanner {
    flex-flow: row nowrap;
    gap: 2rem;
    & img {
      max-inline-size: 18rem;
    }

    & .description {
      flex: 1 0 0;

      & h2 {
        text-align: start;
      }
    }
  }
}
