.projects {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  & ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;

    & li {
      inline-size: 100%;
      block-size: calc(12rem + 4vw);

      border-radius: 8px;

      background-position: center center;
      background-repeat: no-repeat;

      background-color: lightslategray;

      overflow: hidden;

      cursor: pointer;

      & .slider {
        inline-size: 100%;
        block-size: 100%;

        padding: 0.5rem;

        background-color: var(--color-surface-opaque);

        transform: translateY(83%);
        transition: 300ms;

        .description {
          display: flex;
          flex-flow: column nowrap;
          gap: 1rem;
        }
      }

      &:hover {
        & .slider {
          transform: translateY(0);
        }
      }
    }
  }
}

@media (width > 48rem) {
  .projects {
    & ul {
      flex-flow: row wrap;
      & li {
        flex: 1 0 21.75rem;
        max-inline-size: 37.75rem;
        & .slider {
          transform: translateY(83%);
        }
      }
    }
  }
}

@media (width > 1130px) {
  .projects {
    & ul {
      & li {
        flex: 1 0 32.2%;
        max-inline-size: 32.2%;
        & .slider {
          transform: translateY(85%);
        }
      }
    }
  }
}
