@import './themes.css';
@import './globals.css';
@import './app.css';

@keyframes scrollTechnologiesIcons {
  from {
    transform: translateX(0);
  }

  85% {
    transform: translateX(-10%);
  }

  to {
    transform: translateX(0%);
  }
}

.projects {
  & ul.projectsForDesktop {
    margin-top: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;

    & li.project {
      inline-size: 100%;
      block-size: calc(12rem + 4vw);

      flex: 1 0 21.5rem;
      max-inline-size: 48rem;

      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
      border-radius: 8px;

      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      overflow: hidden;

      cursor: pointer;

      & a {
        text-decoration: none;
      }

      & .slider {
        inline-size: 100%;
        block-size: 100%;

        padding: 0.5rem;

        background-color: var(--color-surface-opaque);

        transform: translateY(80%);
        transition: 300ms;

        text-decoration: none;
        .description {
          display: flex;
          flex-flow: column nowrap;
          gap: 1rem;
        }
      }

      &:hover {
        & .slider {
          transform: translateY(0);
        }
      }
    }
  }

  & ul.projectsForMobile {
    margin-top: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;

    & li.project {
      inline-size: 100%;

      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
      border-radius: 8px;

      display: flex;
      flex-flow: column nowrap;

      & a {
        text-decoration: none;
      }

      & .image {
        inline-size: 100%;
        block-size: 10rem;

        padding: 0.5rem;
        border-radius: 8px 8px 0 0;

        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        text-decoration: none;
      }
    }
  }

  & .description {
    border-radius: 0 0 8px 8px;
    padding: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    background-color: var(--color-surface);

    & .title {
      display: flex;
      justify-content: space-between;

      & span {
        border-radius: 8px;
        padding: 0 0.3rem;

        display: flex;
        align-items: center;

        color: var(--color-text-light);
        font-weight: 500;
        font-size: 0.8rem;
      }

      & .finished {
        background-color: var(--color-success);
      }
      & .inProgress {
        background-color: var(--color-warning);
      }
    }

    & .technologies {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      overflow-x: scroll;
      scrollbar-width: none;

      & ul.technologiesList {
        inline-size: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        list-style: none;

        & li:first-child {
          border-left: none;
          padding: 0 1rem 0 0;
        }

        & li {
          box-shadow: none;
          border-radius: 0;
          border-left: solid 1px var(--color-hover);
          padding: 0 1rem;

          display: flex;
          flex-flow: column nowrap;
          align-items: start;
          gap: 0.5rem;

          & .icons {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 1rem;

            list-style: 0;
            & li {
              border: none;
              padding: 0;
              & img {
                inline-size: 2rem;
              }
            }
          }
        }
      }
    }

    & .links {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;

      & a {
        flex: 1 0 0;
        border-radius: 6px;
        padding: 0.5rem 1rem;

        background-color: var(--color-accent);

        text-align: center;
        font-weight: 500;
      }
    }
  }
}

@media (width < 48rem) {
  .projects {
    & ul.projectsForDesktop {
      display: none;
    }
    & .technologies {
      & ul.technologiesList {
        & li {
          box-shadow: none;
          border-radius: 0;
          border-left: solid 1px var(--color-hover);
          padding: 0 1rem;

          display: flex;
          flex-flow: column nowrap;
          align-items: start;
          gap: 0.5rem;

          & .icons {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 0rem;

            list-style: 0;
            & li {
              border: none;
              padding: 0;
              & img {
                inline-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (width >= 48rem) {
  .projects {
    & ul.projectsForMobile {
      display: none;
    }
    & .description {
      background-color: transparent;
    }
  }
}

@media (width >= 1128px) {
  .projects {
    & ul.projectsForDesktop {
      & li.project {
        max-inline-size: 32.5%;
      }
    }
  }
}
