header {
  inline-size: 100%;

  padding: 0.7rem 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1rem;

  .langSelect {
    max-inline-size: 11.4rem;

    border: solid 2px var(--color-hover);

    border-radius: 2px;
    padding: 0.2rem 0 0.2rem 0.2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0.3rem;

    background-color: var(--color-surface);

    cursor: pointer;

    &:hover {
      background-color: var(--color-hover);
    }

    & img {
      inline-size: 10%;
      /* block-size: 8%; */
    }
    & select {
      border: none;

      background-color: inherit;

      cursor: pointer;
    }
  }

  .themeSelect {
    border: solid 2px var(--color-hover);
    border-radius: 2px;
    padding: 0.2rem 0.5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-size: 0.8rem;

    background-color: var(--color-surface);

    cursor: pointer;

    &:hover {
      background-color: var(--color-hover);
    }

    & option {
      padding: 0.1rem 0.4rem;
    }
  }

  .langSelect2 {
    inline-size: 12rem;
    & .select {
      inline-size: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      gap: 0.3rem;

      cursor: pointer;

      &:hover {
        background-color: var(--color-hover);
      }

      & .label {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;
      }
    }

    & img {
      inline-size: 9%;
      /* block-size: 8%; */
    }

    & i {
      color: black;
    }

    & ul {
      display: none;
    }
  }
}
@media (width > 48rem) {
  header {
    justify-content: flex-end;
  }
}
