:root {
  --color-background-light: #f7f8fa;
  --color-background-dark: #1e1f22;
  --color-surface-light: #f2f3f5;
  --color-surface-dark: #242528;
  --color-hover-light: #d4d4d4;
  --color-hover-dark: #34363a;
  --color-text-light: #2e2e2e;
  --color-text-dark: #e6e7eb;
  --color-primary: #ffa200;
  --color-accent-light: #f6c7d0;
  --color-accent-dark: #f0b6c0;
  --color-warning-light: #ffdfa3;
  --color-warning-dark: #ffcd82;
  --color-success-light: #c8e8c7;
  --color-success-dark: #b5ddb4;
}

body.light {
  --color-background: var(--color-background-light);
  --color-surface: var(--color-surface-light);
  --color-hover: var(--color-hover-light);
  --color-text: var(--color-text-light);
  --color-accent: var(--color-accent-light);
  --color-warning: var(--color-warning-light);
  --color-success: var(--color-success-light);
}
body.dark {
  --color-background: var(--color-background-dark);
  --color-surface: var(--color-surface-dark);
  --color-hover: var(--color-hover-dark);
  --color-text: var(--color-text-dark);
  --color-accent: var(--color-accent-dark);
  --color-warning: var(--color-warning-dark);
  --color-success: var(--color-success-dark);
}
