.title {
  & .gradientLine {
    inline-size: 100%;
    height: 2px;

    margin-top: 0.3rem;

    background-color: var(--color-accent);
  }
}

@media (width > 48rem) {
  .title {
    & .gradientLine {
      inline-size: 100%;
      height: 2px;

      margin-top: 0.3rem;

      background-image: linear-gradient(
        to right,
        var(--color-accent),
        var(--color-accent),
        var(--color-accent),
        transparent,
        transparent
      );
      background-color: transparent;
    }
  }
}
